<div class="panel panel-default">
    <div class="panel-heading">
        Your Profile Information
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <form role="form">
                    <div class="form-group">
                        <label>Your Registered Email-Id</label>
                        <label class="form-control">kashish@gmail.com</label>
                    </div>
                    <div class="form-group">
                        <label>Full Name</label>
                        <input class="form-control" placeholder="Enter Your Name"/>
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Relationship Status</label>
                        <select class="form-control">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Committed">Committed</option>
                            <option value="Complicated">Complicated</option>
                        </select>
                    </div>
                </form>
                <br/>
            </div>

            <div class="col-md-6">
                <form role="form">
                    <div class="form-group">
                        <label>Age</label>
                        <input class="form-control" placeholder="Enter Your Age"/>
                    </div>
                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input class="form-control" placeholder="Enter Your Mobile No."/>
                    </div>
                    <div class="form-group">
                        <label>Upload Profile Picture</label>
                        <input type="file"/>
                    </div>
                    <br/>
                    <br/>
                    <button type="submit" class="btn btn-success">Update Profile</button>
                </form>

            </div>
        </div>
    </div>
</div>

